a {
    color: #BF494B;
    text-decoration: none;

    -o-transition: .25s;
    -ms-transition: .25s;
    -moz-transition: .25s;
    -webkit-transition: .25s;
    transition: .25s;
}

a:hover {
    color: black;
    cursor: grabbing;
}

body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
}

.body {
    padding-left: 50px;
    max-width: 75vw;
}

h1 {
    color: #444449;
    margin: 0;
}

h2 { 
    font-size: 20px;
    margin: 10px 0;
}

p, .bullet li {
    line-height: 1.5;
    font-family: "Roboto Light";
}

.bullet li {
    padding: 3px 0;
}

img {
    border: 3px solid #444449;
    border-radius: 5px;
}

@media only screen and (min-width: 1000px) {
    .body {
        padding-left: 15%;
    }
}

@media only screen and (min-width: 700px) {
    img {
        width: 550px;
        height: auto;
    }
}

@media only screen and (max-width: 700px) {
    img {
        width: 75vw;
        height: auto;
    }
}

.body a {
    text-decoration: underline;    
}

.research a {
    font-size: 13.5px;
    margin-right: 6px;
}

.indent {
    padding-left: 25px;
}